ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #ffffff;
    
}

.hero {
    background-color: #2E2F42;
    color: #ffffff;
}

.hero-text{
font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    text-align: left;
}

nav {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.web {
    color: #4D5AE5
}

.webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
     font-size: 18px;
    /* line-height: 21px; */
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.nav a:active, 
     a:visited {
    color: #2E2F42;
}

.address .mail{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    font-style: normal;
}

.address .tel{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
    font-style: normal;
}

.features {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.features-h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.member{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.profession {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}

.h2-h3 {
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    font-style: normal;
}