ul, ol {
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455
}

a {
    text-decoration: none;
}

header,
.teamcard {
    background-color: #ffffff;
    
}

.hero {
    background-color: #2E2F42;
    color: #ffffff;
}

.hero-text{
font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
}

.order {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
    color: #ffffff;
}

.order:hover {
    background-color: #404BBF;
}

.web {
    color: #4D5AE5
}

.webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
     font-size: 18px;
    /* line-height: 21px; */
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.contacts .mail{
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.contacts .tel{
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

.features {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.features-headline {
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-and-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.member{
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.profession {
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio-headline {
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-type {
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-type a:active,
a:visited {
    color: #2E2F42;
}

.team {
    background-color: #F4F4FD;
}

.underground {
    background-color: #2E2F42;
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 21px; */
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.navigation-list-item {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.navigation-list-item:hover,
.navigation-studio:hover,
.contacts .tel:hover,
.contacts .mail:hover {
    color: #404BBF;
}

.navigation-studio:active {
    color: #404BBF;
    text-decoration: underline;
}